{% comment %} <link rel="stylesheet" href="{{ 'section-beauty-icons-bar.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-beauty-icons-bar.css' | asset_url | stylesheet_tag }}</noscript> {% endcomment %}
{% comment %} <noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript> {% endcomment %}

{% comment %} {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'icon_text_button' -%}
        <div class="announcement-bar color-{{ block.settings.color_scheme }} gradient" role="region">
          {%- if block.settings.button_text != blank -%}
            {%- if block.settings.button_link != blank -%}
              <a href="{{ block.settings.button_link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
            {%- endif -%}
                <p class="announcement-bar__message h5">
                  {{ block.settings.button_text | escape }}
                  {%- if block.settings.button_link != blank -%}
                    {% render 'icon-arrow' %}
                  {%- endif -%}
                </p>
            {%- if block.settings.button_link != blank -%}
              </a>
            {%- endif -%}
          {%- endif -%}
        </div>
    {%- endcase -%}
{%- endfor -%} {% endcomment %}
{% comment %} <ul class="list-menu list-menu--inline" role="list">
    {%- for block in section.blocks -%}
      <li>
        {%- if block.settings.button_link != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary class="header__menu-item list-menu__item link focus-inset">
                <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                {% render 'icon-caret' %}
              </summary>
              <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content gradient motion-reduce global-settings-popup" tabindex="-1">
                -----------------------------
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
            <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
</ul> {% endcomment %}
{{ 'section-beauty-icons-bar.css' | asset_url | stylesheet_tag }}
{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
    <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
    </symbol>
  
    <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
      <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
    </symbol>

    <symbol id="woman" viewbox="0 0 18 19" fill="none">
        <path id="path3685" d="m-3.9831 138.41c17.42-14.784 43.025-15.059 63.467-6.9197 18.281 6.3102 34.087 19.855 41.828 37.73 8.7072 18.171 12.927 38.085 16.526 57.778 1.5661 24.039-11.599 45.306-21.331 66.288-6.3903 9.6754-19.688 10.155-30.107 8.6588-19.187-2.7669-37.92-12.268-57.666-8.3127-10.983 1.1981-22.556-5.8172-25.167-16.853-5.5584-17.059-3.4772-35.294-5.972-52.841-1.2622-29.558 8.1528-58.23 18.422-85.529z"/>
    </symbol>
  </svg>

<div class="beauty-icons-bar__ul">
    {%- for block in section.blocks -%}
      {% comment %} <li class="beauty-icons-bar__li"> {% endcomment %}
        <div class="beauty-icons-bar__div beauty-icons-bar__li">
            <a href="{{ block.settings.button_link }}" class="mega-menu__link mega-menu__link--level-2 link{% if block.settings.button_link == page.url %} beauty-icons-bar__a_disabled{% endif %}"{% if block.settings.button_link.current %} aria-current="page"{% endif %}>
                <span>
                    <svg class="beauty-icons-bar__icon" aria-hidden="true" focusable="false" role="presentation">
                      <use href="#icon-search">
                    </svg>
                    {% comment %} <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                      <use href="#icon-close">
                    </svg> {% endcomment %}
                </span>
                <p>{{ block.settings.button_text | escape }}</p>
            </a>
        </div>
        {% comment %} <a href="{{ block.settings.button_link }}" class="mega-menu__link mega-menu__link--level-2 link{% if block.settings.button_link == page.url %} mega-menu__link--active{% endif %}"{% if block.settings.button_link.current %} aria-current="page"{% endif %}>
          {{ block.settings.button_text | escape }}
        </a> {% endcomment %}
        {% comment %} <p class="beauty-icons-bar__p">{{ block.settings.button_text }}</p> {% endcomment %}
        {% comment %} {%- if childlink.links != blank -%}
          <ul class="list-unstyled" role="list">
            {%- for grandchildlink in childlink.links -%}
              <li>
                <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                  {{ grandchildlink.title | escape }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%} {% endcomment %}
      {% comment %} </li> {% endcomment %}
    {%- endfor -%}
</div>
  
{% schema %}
{
  "name": "Beauty Icons Bar",
  "tag": "section",
  "class": "section",
  "max_blocks": 24,
  "blocks": [
    {
      "type": "icon_text_button",
      "name": "Icon Text Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "default": "Click Me!",
          "label": "Button Text"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.all.colors.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button URL"
        }
      ]
    }
  ],
  "presets": [
      {
        "name": "custom-icons-bar",
        "category": "Custom"
      }
  ]
}
{% endschema %}

  